/* For device width smaller than 400px: */
#audio-tabs {
    background-color: #F1E7C0;
    padding-top: 10px;
    padding-bottom: 10px;

}



button {
    background-color: #D7CBA0;
    color: #5A1F00;
    border-radius: 0;
    font-family: sans-serif;
    width: 300px;
    text-align: left;
    cursor: pointer;
    margin: 1px 2px;

}

button:hover {
    background-color: #fce45c;
    color: #111;
    border-radius: 0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 30px;

}

/*This is for the chapter helper text*/
div#chapter-helper {
    /*font-weight: bold;*/
    font-family: sans-serif;
    color: #5A1F00;
    width: 359px;
    height: 36px;
    float: left;
    text-align: center;
    padding: 0 10px 0 0;
    line-height: 1.4em;
}


/* For device width 400px and larger: */
@media only screen and (min-device-width: 400px) {
    button {
        background-color: #D7CBA0;
        color: #5A1F00;
        border-radius: 0;
        font-family: sans-serif;
        width: 300px;
        text-align: left;
        cursor: pointer;
        margin: 1px 2px;

    }

    button:hover {
        background-color: #fce45c;
        color: #111;
        border-radius: 0;
    }


    body {
        width: 540px;
        margin: 20px auto;
        font-size: 16px;
        font-family: sans-serif;
    }

    ul {
        list-style-type: none;
        /*margin: 0;
        padding: 0;*/
        margin-right: 40px;
        padding-top: 0px;
    }


    #audio-tabs {
        width: 540px;
        height: 200px;
        display: grid; /*part of the grid */
        grid-gap: 10px; /*part of the grid*/
        padding: 25px;
        background-image: url('http://www.nationalarchives.gov.uk/education/prisoner4099/css/img/player-bg.jpg');
        background-repeat: no-repeat;

    }


    #player {
        width: 340px;
        height: 220px;
        padding-right: -20px;
        margin: 50px;
        margin-left: 5px;
        margin-top: -30px;
        margin-bottom: -15px;
        grid-column: 3;
        grid-row: 1 / span 2; /*part of the grid */

    }


    div#player-controls {
        display: block;
    }

    /*This is for the chapter helper text*/
    div#chapter-helper {
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        width: 142px;
        float: left;
        text-align: center;
        padding: 2px 65px 20px 0;
        line-height: 1.4em;
    }


}

